@import 'src/styles/scss/variables';
@import 'src/styles/scss/mixins';

.superInput {
  background: $primaryColor;
  border-radius: 6px;
  width: 500px;
  height: 40px;
  padding: 8px 20px;
  @include text(14px,17px,$textColor);
}
