@import '../../../styles/scss/mixins';


.startBlock {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .imageWrapper {
    @include imageWrraper(65px, 100px);
  }
  .startBlockText {
    @include text(22px,140%,#808080);
    width: 210px;
    height: 62px;
    text-align: center;
    margin-top: 46px;
  }
}
