@import '../../../styles/scss/mixins';


.foundBlock {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .imageWrapper {
    @include imageWrraper(100px, 100px);
  }
  .foundBlockText {
    @include text(22px,140%,#808080);
    height: 62px;
    text-align: center;
    margin-top: 46px;
  }
}